.content-home{
    width: 80%;
    margin: 2rem auto;
    background-color: #222222;
    border-radius: 10px;
}

.section-adidas{
    padding: 1rem;
    
}

.section-adidas h2 {
    margin-bottom: 1rem;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 30px;
}



@media screen and (max-width:1100px) {
    .content-home{
        width: 100%;
        border-radius: 0;
    }
}