@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

 
  color: rgba(251, 251, 251, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-serif;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
 
} */



.div_homeTurism{
  display: flex;
}



.slider_container {
  display: flex;
  align-items: center;
  width: 100%;
  
}

.slider_ {
  display: flex;
  height: 100%;
  width: 10000vw !important;
}



.grid_cardHomeTurism {
  margin: 10px 10px !important;
}


/*Hovers*/




@media screen and (max-width: 1250px) {
  .slider_ {
    width: 10000vw !important;
  }
}



@media screen and (max-width: 1000px) {
  .slider_ {
    width: 10000vw !important;
  }
}

@media screen and (max-width: 500px) {
  .div_homeTurism {
    margin: 20px 8px !important;
  }
  /* .cardHomeTurism_media {
    width: 100%;
    height: 200px;
  }
  .cardHomeTurism_media img {
    width: 100% !important;
    height: 100% !important;
  } */
  .grid_cardHomeTurism {
    margin: 10px 10px !important;
  }
}